database:
  type: postgres        # either `sqlite` or `postgres`
  local:
    address: "localhost"
    user: "username"
    name: "database"
    password: ""
    port: 5432
  prod:
    address: "localhost"
    user: "prod"
    name: "prod"
    password: ""
    port: 5432

